@charset "utf-8";
/* CSS Document */
#wrapper	{
	width: 1440px;
	height: 1000px;
	background-color: #F6F3D1;
	margin-top: 0px;
}
#wrapper header 	{
	background-image:url("../propuesta-assets/Banner.png");
	width: 1440px;
	height: 205px;
	top: 0px;
	position: absolute;
	
} 	
#wrapper header h1 figure img {
  position:relative;
  left: -50px;
  top: -35px;
  padding: 0px;
}
#wrapper header nav {
	width: 721px;
	height: 133px;
	position: absolute;
	top: 11px;
}
#wrapper header nav ul {
	list-style-type: none;
		position: absolute;
  left: 690px;
  top: -15px;
  width: 710px;
  height: 133px;
  z-index: 39;
}
#wrapper header nav ul li {
	display: inline-block;
	text-align:right;
	padding: 15px 25px;
}

a{
	color:white;
	text-decoration: none;
	text-shadow: 0px 0px 8px black;
	font-family:"Bodoni MT", "Calibri Light";
	font-size: 26px;
}
a:hover {
	color: #801815
}
#frase {
	text-align: center;
	color: white;
	text-decoration: none;
	text-shadow: -5px -2px 30px black;
	font-family: "Bodoni MT", "Calibri Light";
	font-size: 36px;
	font-style: normal;
	position: absolute;
	left: 0px;
	top: 61px;
	width: 1440px;
	z-index: 42;
}
#Subtitulo {
	text-align: center;
	color: white;
	text-decoration: none;
	text-shadow: -5px -2px 10px black;
	font-family: "Bodoni Bk BT", "Calibri Light";
	font-size: 28px;
	font-style: italic;
	position: absolute;
	left: 0px;
	top: 100px;
	width: 1440px;
	z-index: 42;
}
/*CONTENIDO*/
form {
	position: absolute;
	left: 400px;
	top: 20px;
	width: 450px;
	margin: auto;
	background-color:#801815;
	padding: 10px 20px;
	box-sizing: border-box;
	margin-top: 220px;
	border-radius: 20px;
}
h2 {
	color: white;
	text-align: center;
	font-size: 30px;
	margin-bottom: 20px;
}
input, textarea{
	width: 100%;
	margin-bottom: 20px;
	padding: 7px;
	box-sizing: border-box;
	font-size: 18px;
	border: none;
}
textarea {
	min-height: 100px;
	max-height: 200px;
	max-width: 100%;
}
#boton {
	font-family: "Bodoni Bk BT";
	font-size: 25px;
	padding: 20px;
}
#boton:hover {
	color: #801815;
}
#texto{
	position: absolute;
	width: 260px;
	text-align: justify;
	margin-left: 90px;
	margin-top: 260px;
	font-size: 20px;
	font-family: "Bodoni Bk BT", "Calibri Light";
}
/*TERMINA CONTENIDO*/

/*INICIA FOOTER*/
.footer {
	background-color: #801815;
	width: 1440px;
	height: 50px;
}
.footer #peninsular {
	position: relative;
	left: 30px;
}
.footer #face {
	position: relative;
	left: 1067px;
	top: -6px;
}
.footer #insta {
	position: relative;
	left: 1090px;
	top: -6px;
}
.footer #you {
	position: relative;
	left: 1110px;
	top: -6px;
}
#nota {
position: relative;
	top: -55px;
	color: white;
	font-family: "Bodoni MT";
	text-align: center;
}